nav{
    height: 25vh;

}

.navyz{
    display: flex;    
justify-content: center;
align-items: center;
}

.logoimg img{
    height: 100px;
    width: 130px;
    margin-right: 100px;
}

.navlist ul {
    display: flex;
    justify-content: center;
    align-items: center;
flex-direction: row;
gap: 80px;
position: relative;
left: 80px;
}

.navlist ul li{
    list-style: none;
}

.navlist ul li a{
    color: black;
    font-weight: 700;
  }

  .navlist ul li a .cart{
    font-size: 1.3rem;
    transition: 0.3s ease-in-out;
  }
  .navlist ul li a .cart:hover{
    transform: scale(1.1);
    color: #ffb703;
  }



.navlist ul li a button{
    height: 2.8rem;
    width: 8.6em;
    border-radius: 2rem;
    background-color: #ffb703;
    font-weight: 700;
    color: white;
    border: 0px solid;
transition: 0.3s ease-in-out;   
}

   .navlist ul li a button:hover{
    transform: scale(1.1);
    background-color: white;
    color: black;
    border: 1px solid;
   }

   .navlist ul li a.active,
   .navlist ul li a:hover {
       color: #ffb703;
   }
   
   .pointer {
       width: 8px;
       height: 8px;
       border-radius: 50%;
       background-color: #ffb703;
       transform: translateX(95px);
       transition: transform 0.6s ease-in-out;
   }
   .pointer-home {
    transform: translateX(97px);
}

.pointer-dishes {
    transform: translateX(226px);
}
 
.pointer-about {
    transform: translateX(366px);
}

.pointer-contact {
    transform: translateX(515px);
}
  
.cart2{
    display: none;
}



@media only screen and (max-width: 900px) {
    .navlist ul{
        position: relative;
        left: 20px;
        gap: 30px;
    }

    .logoimg img{
        margin-right: 70px;
    }

    .pointer-home {
        transform: translateX(36px);
    }
    
    .pointer-dishes {
        transform: translateX(115px);
    }
     
    .pointer-about {
        transform: translateX(205px);
    }
    
    .pointer-contact {
        transform: translateX(305px);
    }
      
    }
   
    @media only screen and (max-width: 800px) {
        .navlist ul{
            position: relative;
            left: -19px;
            gap: 25px;
        }
        .pointer-home {
            transform: translateX(-1px);
        }
        
        .pointer-dishes {
            transform: translateX(72px);
        }
         
        .pointer-about {
            transform: translateX(155px);
        }
        
        .pointer-contact {
            transform: translateX(250px);
        }

    }

    @media only screen and (max-width: 700px) {
        .navlist ul{
        display: none; 
        }

        .cart2{
            display: block;
            font-size: 1.5rem;
            position: relative;
            left: -30px;
            margin-bottom: -20px;
            transition: 0.3s ease-in-out;
        }

        .cart2:hover{
            transform: scale(1.1);
            color: #ffb703;
          }
        
        .logoimg img{
            margin-right: 180px;
        }
        .pointer{
            display: none;
        }
    }
