*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}
::-webkit-scrollbar {
    width: 0; /* Hide scrollbar width */
    height: 0; /* Hide scrollbar height */
}